.pizzaContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pizzaWrapperLeft {
  padding: 1rem;
}

.pizzaWrapperRight {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-self: center;
  color: #f0f0f0;
  height: 50%;
  margin-right: 5rem;
}

.pizzaInfo {
  background-color: #df2c06;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  font-size: 20px;
}

.pizzaTitle {
  text-transform: uppercase;
  font-size: 24px;
  color: #7b0000;
}

.pizzaDescription {
  margin: 0;
  padding: 0;
}

.pizzaPrice {
  font-style: italic;
}

.pizzaToppings {
  color: black;
}

.pizzaImage {
  width: 100%;
  height: 80vh;
  object-fit: contain;
}

.otherPizzasWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 20px;
  background-color: #df2c06;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.7);
}

.otherPizzas {
  font-size: 12px;
  font-weight: 300;
}

.otherPizzas img {
  width: 10rem;
  height: 10rem;
  object-fit: stretch;
  padding: 5px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #df2c06;
  color: #f0f0f0;
  font-weight: 300;
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .pizzaContainer {
    grid-template-columns: 1fr;
  }
  .pizzaWrapperRight {
    margin-right: 0;
  }
}
